In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame({'col1':[1,2,3,np.nan],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0   1.0   444  abc
1   2.0   555  def
2   3.0   666  ghi
3   NaN   444  xyz

In [5]:
#1-unique()
df['col3'].unique()

array(['abc', 'def', 'ghi', 'xyz'], dtype=object)

In [6]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [7]:
#2-nunique()
df['col1'].nunique()

3

In [8]:
df['col2'].nunique()

3

In [9]:
df['col3'].nunique()

4

In [10]:
#3-value_counts()
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [11]:
df['col1'].value_counts()

1.0    1
2.0    1
3.0    1
Name: col1, dtype: int64

In [12]:
df['col3'].value_counts()

abc    1
def    1
ghi    1
xyz    1
Name: col3, dtype: int64

In [15]:
#4-apply()

In [19]:
#5-sum()
column_sum=df.sum()

In [20]:
column_sum

col1             6.0
col2            2109
col3    abcdefghixyz
dtype: object

In [21]:
column_sum_skipna = df.sum(skipna=True)

In [22]:
column_sum_skipna

col1             6.0
col2            2109
col3    abcdefghixyz
dtype: object

In [24]:
#6-sort_values()
sorted_df_col1 = df.sort_values(by='col1')

In [25]:
sorted_df_col1

   col1  col2 col3
0   1.0   444  abc
1   2.0   555  def
2   3.0   666  ghi
3   NaN   444  xyz

In [26]:
sorted_df_multiple = df.sort_values(by=['col2', 'col1'])

In [27]:
sorted_df_multiple

   col1  col2 col3
0   1.0   444  abc
3   NaN   444  xyz
1   2.0   555  def
2   3.0   666  ghi